.textbox-list {
  display: inline-flex;
  text-decoration: none;
  align-self: center;
  white-space: nowrap;
  align-items: center;
  padding-right: 10px;
  justify-content: center;
  color: white;
  font: 12px sans-serif;
  cursor: pointer;
  font-weight: 900;
}

.textbox-list:hover {
  background-color: #db4437;
}
